@import "./vendors/vendors";
@import "./helpers/variables";
@import "./base/base";
@import "./helpers/helpers";
@import "./helpers/mixins";
@import "../components/hamburgar";
@import "../components/navbar";

#hero {
  .block {
    background: transparent !important;
    // color: $dark;
    box-shadow: none;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 9999;
    .cta {
      background-color: $dark;
      .type17 {
        &::after {
          box-shadow: 10px 10px 0 0 $white;
        }
        &::before {
          // background-color: $white;
          box-shadow: 0 -10px 0 0 $white;
        }
      }
    }
    .active {
      // .type17 {
      //   background-color: $dark;
      //   transition: all 0.6s ease-in-out;
      //   &::before {
      //     background-color: $white;
      //     box-shadow: none;
      //   }
      //   &::after {
      //     background-color: $white;
      //     box-shadow: none;
      //   }
      // }
    }
  }

  .hero-content {
    margin-top: 100px;
    .hero-img {
      img {
        width: 600px;
        height: 500px;
      }
    }
    .quick-contact {
      margin-top: 50px;
      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }
  }
}
