<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suman Biswas</title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body>
    <div id="page-loader">
      <img src="images/Ripple.svg" alt="" />
    </div>
    <!-- Hero start start here -->
    <div id="hero">
      <div class="container">
        <div class="block">
          <div class="cta">
            <div class="toggle-btn type17"></div>
          </div>
        </div>
        <div class="logo">
          <img src="images/logo.svg" alt="" />
        </div>
      </div>

      <!-- social links -->
      <div id="mySidenav" class="sidenav">
        <a href="#about">About me</a>
        <a href="#services">Services</a>
        <a href="#works">My works</a>
        <a href="#contact">Contact</a>
        <div class="nav-social-link">
          <h6>Social Media</h6>
          <div class="underline"></div>
          <div class="nav-social-link-icon">
            <a href="https://github.com/SumanOfficial"
              ><img src="images/icons/git.svg" alt=""
            /></a>
            <a href="https://dribbble.com/SumanBi52341382"
              ><img src="images/icons/dribble.svg" alt=""
            /></a>
            <a href="https://www.linkedin.com/in/suman-biswas-a96a65174/"
              ><img src="images/icons/linkdn.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="container hero-content">
        <div class="row">
          <div class="col-lg-6 hero-text">
            <h5>Hey</h5>
            <h5>I'm Suman</h5>
            <h1>I Designer and Develope creative websites</h1>
            <p>
              “ I love what I do and I do what our clients love & work with
              great clients all over the world to create thoughtful and
              purposeful websites.”
            </p>
            <div class="quick-contact">
              <a href="tel:+918584862911"
                ><img src="images/icons/phone.svg" alt=""
              /></a>
              <a href="mailto:officialofsuman@gmail.com"
                ><img src="images/icons/mail.svg" alt=""
              /></a>
              <a href="https://api.whatsapp.com/send?phone=918584862911"
                ><img src="images/icons/whatsapp.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-lg-6 hero-img">
            <img src="images/hero.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Hero eara end here -->

    <!-- About area start here -->
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img src="images/about.png" alt="" class="about-vector" />
          </div>
          <div class="col-lg-8 about-text">
            <h5>About Me</h5>
            <h1>More information about me and what i do</h1>
            <h5>Hello, I am Suman Biswas</h5>
            <p>
              I Design the beautiful, engaging user interface for the web & also
              turn them into a functional website. I pride myself on reliable
              communication with my clients and I'm an easy to work with,
              friendly guy. You can find out more about me and then get in touch
              for a chat about your project.
            </p>
            <p class="cv">
              Download my cv
              <a href="assets/CV.pdf" download="Suman_biswas_cv"
                ><img src="images/icons/download.svg" alt=""
              /></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- About area end here -->

    <!-- Education area start here -->
    <div id="edu">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h5>Qualification</h5>
            <h1>More infromation about my education</h1>
          </div>
          <div class="col-lg-4">
            <img src="images/edu.svg" alt="" class="edu-vector" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="education">
              <h5 class="edu-yr">2018 - 2020</h5>
              <h5 class="edu-name">Post Graduation</h5>
              <p class="edu-uni">
                Brainware Uttarpara, under Jadavpur university
              </p>
              <p class="edu-info">
                I completed my post-graduation diploma in Webdesign & Software
                Engineering from Brainware Academy Uttarpara under Jadavpur
                University.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="education">
              <h5 class="edu-yr">2015 - 2018</h5>
              <h5 class="edu-name">Bachelor Degree</h5>
              <p class="edu-uni">RPM Collage, under Calcutta university</p>
              <p class="edu-info">
                I completed my graduation on B.com (Bachelor of Commerce) from
                RPM College under Calcutta University.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="education">
              <h5 class="edu-yr">2013 - 2015</h5>
              <h5 class="edu-name">12th Degree</h5>
              <p class="edu-uni">RPM Collage, under Calcutta university</p>
              <p class="edu-info">
                I completed my 12th degree in commerce from UAV School.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Education area end here -->

    <!-- services area start here -->
    <div id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h5>Services</h5>
            <h1>What I offer to my clients</h1>
            <img
              src="images/service_vector.svg"
              alt=""
              class="service-vector"
            />
          </div>
          <div class="col-lg-6 mt-xs-5">
            <div class="row">
              <div class="col-md-6">
                <div class="service">
                  <img src="images/icons/wp.svg" alt="" />
                  <h5>Wordpress</h5>
                  <h6>Theme devlopment</h6>
                </div>
                <div class="service mt-4">
                  <img src="images/icons/dev.svg" alt="" />
                  <h5>Web development</h5>
                  <h6>PHP & Mysql</h6>
                </div>
              </div>
              <div class="col-md-6">
                <div class="service">
                  <img src="images/icons/ui.svg" alt="" />
                  <h5>UI Designing</h5>
                  <h6>Web Design</h6>
                </div>
                <div class="service mt-4">
                  <img src="images/icons/graphic.svg" alt="" />
                  <h5>Graphics</h5>
                  <h6>Photoshop & Illustrator</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- services area end here -->

    <!-- work area start here -->
    <div id="works">
      <div class="container">
        <h5 class="work-heading">Works</h5>
        <h1>Checkout My letest works</h1>
      </div>
      <div class="container">
        <!-- tabs links -->
        <ul class="nav nav-pills mb-3 mt-2" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="pills-home-tab"
              data-toggle="pill"
              href="#pills-UI"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              >UI Design</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="pills-profile-tab"
              data-toggle="pill"
              href="#pills-web"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              >Web Design</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="pills-contact-tab"
              data-toggle="pill"
              href="#pills-wp"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Wordpress</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="pills-contact-tab"
              data-toggle="pill"
              href="#pills-logo"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Logo Design</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="pills-contact-tab"
              data-toggle="pill"
              href="#pills-GD"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
              >Graphic Design</a
            >
          </li>
        </ul>
        <!-- tab content -->
        <div class="tab-content" id="pills-tabContent">
          <!-- ui design -->
          <div
            class="tab-pane fade show active mt-5"
            id="pills-UI"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/ui/UI-launching_soon.png"
                    alt="Coming Soon"
                  />
                  <figcaption>
                    <div class="caption-bg">
                      <h2>Launching <span>Soon</span></h2>
                      <p>A flim style Launching Soon landing page UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/Launching-Soon-template-landing.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/ui/UI-universal_app.png"
                    alt="maintance"
                  />
                  <figcaption>
                    <div>
                      <h2>Universal <span>App</span></h2>
                      <p>A Universal App landing page UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/Product-template-landing.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/ui/UI-coming_soon.png"
                    alt="Coming Soon"
                  />
                  <figcaption>
                    <div class="caption-bg">
                      <h2>Coming <span>Soon</span></h2>
                      <p>A Liquid style Coming Soon landing page UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/Coming-soon-final.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/ui/UI-maintance.png" alt="maintance" />
                  <figcaption>
                    <div>
                      <h2>Main <span>tenance</span></h2>
                      <p>A Maintance landing page UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/maintenance.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/ui/UI-IIapp.png" alt="IIApp" />
                  <figcaption>
                    <div>
                      <h2>II <span>App</span></h2>
                      <p>A small offline Wedding App UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/IIapp.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/ui/UI-fashion.png" alt="Fashion" />
                  <figcaption>
                    <div>
                      <h2>Krush <span>Fashion</span></h2>
                      <p>A Fashion website landing page UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/krush_fashion.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/ui/UI-garbage.png" alt="Coming Soon" />
                  <figcaption>
                    <div>
                      <h2>Clean <span>Garbage</span></h2>
                      <p>A Garbage collection website landing page UI</p>
                    </div>
                    <a
                      href="images/works/ui/full/grabage_collection.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6"></div>
            </div>
          </div>
          <!-- web design -->
          <div
            class="tab-pane fade mt-5"
            id="pills-web"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/web/WEB-alienity.png" alt="Alienity" />
                  <figcaption>
                    <div class="caption-bg">
                      <h2>Alien <span>ity</span></h2>
                      <p>A Agency website</p>
                    </div>
                    <a href="http://alienity.com/">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/web/WEB-telepod.png" alt="telepod" />
                  <figcaption>
                    <div>
                      <h2>Tele <span>pod</span></h2>
                      <p>A Story Podcast website</p>
                    </div>
                    <a href="http://telepod.xyz/">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/web/WEB-soumik.png"
                    alt="Soumik Saha"
                  />
                  <figcaption>
                    <div>
                      <h2>Soumik <span>Saha</span></h2>
                      <p>A Portfolio website</p>
                    </div>
                    <a href="http://soumiksaha.live/">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/web/WEB-medicinic.png"
                    alt="Medicinic"
                  />
                  <figcaption>
                    <div>
                      <h2>kailash <span>Phermacy</span></h2>
                      <p>A Pharmicy Website</p>
                    </div>
                    <a href="https://kailash.staging.ovrcraft.com/"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <!-- Wordpress -->
          <div
            class="tab-pane fade mt-5"
            id="pills-wp"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/wp/WP-emerge.png" alt="Emerge" />
                  <figcaption>
                    <div>
                      <h2>Eme <span>rge</span></h2>
                      <p>An Eucational Organization Website</p>
                    </div>
                    <a href="https://emergefinishingschool.com/">View more</a>
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/wp/WP-social_worker.png"
                    alt="SocialWorker"
                  />
                  <figcaption>
                    <div>
                      <h2>Social <span>Worker</span></h2>
                      <p>A Wordpress Website for Social workers</p>
                    </div>
                    <a href="https://ign.staging.ovrcraft.com/">View more</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <!-- Logo Design -->
          <div
            class="tab-pane fade mt-5"
            id="pills-logo"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/logo/LOGO-alienity.png"
                    alt="Alienity"
                  />
                  <figcaption>
                    <div>
                      <h2>Alien<span>ity</span></h2>
                      <p>A Logo For Alienity Agency company</p>
                    </div>
                    <a
                      href="images/works/logo/full/Alienity.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/logo/LOGO-connected_home.png"
                    alt="Connected Home"
                  />
                  <figcaption>
                    <div>
                      <h2>Connected <span>Home</span></h2>
                      <p>A Logo For Connected Home Software Companey</p>
                    </div>
                    <a
                      href="images/works/logo/full/Connected_Home_Logo.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/logo/LOGO-online_bengla.png"
                    alt="Online Bengla"
                  />
                  <figcaption>
                    <div>
                      <h2>Online <span>Bengla</span></h2>
                      <p>A logo for Online Bangla Youtube channel</p>
                    </div>
                    <a
                      href="images/works/logo/full/Online Bangla.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img src="images/works/logo/LOGO-telepod.png" alt="Telepod" />
                  <figcaption>
                    <div>
                      <h2>Tele <span>pod</span></h2>
                      <p>A Logo For Telepod Podcast company</p>
                    </div>
                    <a
                      href="images/works/logo/full/telepod.png"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <!-- graphic design -->
          <div
            class="tab-pane fade"
            id="pills-GD"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <figure class="effect-lily">
                  <img
                    src="images/works/graphic/GD-cricket_poster.png"
                    alt="cricket Poster"
                  />
                  <figcaption>
                    <div>
                      <h2>Love <span>Cricket</span></h2>
                      <p>A Cricket Player Poster</p>
                    </div>
                    <a
                      href="images/works/graphic/full/cricketer_poster.jpg"
                      class="popup"
                      data-effect="mfp-move-horizontal"
                      >View more</a
                    >
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- work area end here -->

    <!-- contact area start here -->
    <div id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h5>Contact</h5>
            <h1>Get in touch with me</h1>
            <p>Contact me in any way convenient for you</p>

            <div class="contact-info">
              <h5 class="phone">
                <a href="tel:+918584862911"
                  ><img src="images/icons/phone-dark.svg" alt="" />

                  +91 8584862911
                </a>
              </h5>
              <h5 class="mail">
                <a href="mailto:officialofsuman@gmail.com"
                  ><img src="images/icons/mail-dark.svg" alt="" />
                  Officialofsuman@gmail.com
                </a>
              </h5>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="images/contact_vector.svg"
              alt=""
              class="contact-vector"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- contact area end here -->

    <!-- footer area start here -->
    <footer>
      <h1><a href="#about">About me</a></h1>
      <h1>
        <a href="#services">Services</a>
      </h1>
      <h1>
        <a href="#works">My works</a>
      </h1>
      <h1>
        <a href="#contact">Contact</a>
      </h1>

      <div class="social">
        <a href="https://github.com/SumanOfficial"
          ><img src="images/icons/git.svg" alt=""
        /></a>
        <a href="https://dribbble.com/SumanBi52341382"
          ><img src="images/icons/dribble.svg" alt=""
        /></a>
        <a href="https://www.linkedin.com/in/suman-biswas-a96a65174/"
          ><img src="images/icons/linkdn.svg" alt=""
        /></a>
      </div>

      <p>Thanks For scrolling</p>
    </footer>
    <!-- footer area end here -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"
      integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
      integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
      crossorigin="anonymous"
    ></script>
    <script src="./js/bundle.min.js"></script>
  </body>
</html>
